POSTGRES_DB=gold_store
POSTGRES_USER=gold_store
POSTGRES_PASSWORD=gold_store
POSTGRES_PORT=5432

SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=supabase
SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=postgres.lakjykixplwddcrjggty
SPRING_DATASOURCE_PASSWORD=gold-store@@
SPRING_DATASOURCE_PREPARE_THRESHOLD=0

JWT_SECRET=change-this-secret-before-development
JWT_EXPIRATION_MS=86400000

NEXT_PUBLIC_API_URL=http://localhost:8080

# Cloudinary
CLOUDINARY_URL=cloudinary://776724154565876:ALJsGuK_dku90tF0tIaaLIe1vzE@df2tjtn7b
CLOUDINARY_CLOUD_NAME=df2tjtn7b
CLOUDINARY_API_KEY=776724154565876
CLOUDINARY_API_SECRET=ALJsGuK_dku90tF0tIaaLIe1vzE
CLOUDINARY_UPLOAD_FOLDER=gold-store/products